@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@300&family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;  
}

.btn {
  font-family: 'Noto Sans JP', sans-serif;
  color : #b8c543;
  font-weight: 600;
  background-color: #ffffff;
  border: 3px solid white;
  border-radius: 0px;
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 1px 12px #888888;
}

.btn:hover {
  color: #ffffff;
  border: 3px solid white;
  background-color: #b8c543;
  border-radius: 0px;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: 60px;
}

.navbar .nav-link:hover {
  color: #c58e07;
}

.nav-link {
  color: #1a1a1a;
}

.nav-link:hover {
  color: #1a1a1a;
}

.logo-brand {
  min-width: 60px;
  max-width: 60px;
}

.navbar-toggler {
  font-size: 40px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.dropdown-menu {
  text-align: center;
}

nav a {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right,  #c58e07, #c58e07 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

nav a:hover {
    background-position: 0 100%;
}

#hero {
    background-image: url('images/logo.png');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
    font-weight: 900;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  /*secciones*/

  #header2 {
    height: 0px;
    min-height: 20rem;
    background-color: #b8c543;

  }

  @media (pointer: coarse) and (hover: none) {
    header {
      background: black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  .display-3 {
      font-weight: 800;
      margin: 0 auto 260px auto;
      display: inline-block;
  }

  .nav-item {
    margin: auto 16px auto 16px;
  }

  a:focus {
    outline: none;
  }

  .row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-fluid {
    padding: 10px auto 10px auto;
    
  }

  /* Seccion 1 */

  #seccion1 {
    background-color: #b8c543;
    color: #ffffff;
  }

  #seccion1 .col-md-4 {
    padding: 220px 80px;
  }

  #seccion1 #seccion1-bg {
    background-image: url("../assets/img/imagen-seccion1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Seccion 2 */
  
  #seccion2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #seccion2 .col-md-12 {
    padding: 0 220px;
  }

  /* Seccion 3 */

  #seccion3 {
    background-image: url("../assets/img/img_parallax.jpg");
    background-size: cover;
    color: #ffffff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #seccion3 .container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  svg {
    bottom: 0;
    width: 100%;
    height: 8vw;
    /* set height to pixels if you want angle to change with screen width */
  }

  /* Seccion 4 */
  
  #seccion4 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* Footer */

  footer {
    background-color: #403c3c;
    color: #ffffff;
    padding-bottom: 10px;
    border-top: 3px solid green;
  }

  footer h4 {
    font-weight: bold;
  }

  footer p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  footer ion-icon {
    margin: 20px;
  }

  footer .navbar {
    background-color: transparent;
  }

  footer .nav-link {
    font-size: 1rem;
    color: #ffffff;
    margin: 0px;
    font-weight: 900;
  }

  footer .nav-link:hover {
    font-size: 1rem;
    color: #c58e07;
  }

  footer #info {
    border-bottom: 1px solid white;
  }

  #copyright {
    margin-top: 10px;
  }

  /* Media queries */

@media (max-width: 575.98px) { 
  
  .display-3{
    font-size: 28px;
  }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 

  .display-3{
    font-size: 32px;
  }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 

  .display-3{
    font-size: 42px;
  }
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 

  .display-3{
    font-size: 48px;
  }
 }

@media (min-width: 1200px) { 


 }